[Desktop Entry]
Encoding=UTF-8
Name=Appearance
Name[ar]=المظهر
Name[bg]=Външен вид
Name[bn_IN]=চেহারা
Name[ca]=Aparença
Name[cs]=Vzhled
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[es]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[gl]=Aparencia
Name[hu]=Megjelenés
Name[it]=Aspetto
Name[ja]=外観の設定
Name[ko]=모양새
Name[lt]=Išvaizda
Name[ml]=കാഴ്ച
Name[nb]=Utseende
Name[nl]=Uiterlijk
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ru]=Внешний вид
Name[sr]=Изглед
Name[sv]=Utseende
Name[uk]=Зовнішній вигляд
Name[vi]=Diện mạo
Name[zh_CN]=外观
Name[zh_TW]=外觀設定
Comment=Customize the look of the desktop
Comment[ar]=خصّص مظهر سطح المكتب
Comment[bg]=Настройване на външния вид на работния плот
Comment[bn_IN]=ডেস্কটপের চেহারা পছন্দ অনুসারে নির্ধারণ করুন
Comment[ca]=Personalitzeu l'aparença de l'escriptori
Comment[da]=Tilpas skrivebordets udseende
Comment[de]=Aussehen des Desktops anpassen
Comment[el]=Προσαρμόστε την εμφάνιση της επιφάνειας εργασίας σας
Comment[es]=Personalizar la apariencia del escritorio
Comment[et]=Töölaua välimuse kohandamine
Comment[eu]=Pertsonalizatu mahaigainaren itxura
Comment[fi]=Muuta työpöydän ulkoasua
Comment[fr]=Personnaliser l'apparence du bureau
Comment[hu]=Az asztal megjelenésének testreszabása
Comment[it]=Personalizza l'aspetto dell'ambiente grafico
Comment[ja]=デスクトップの見映えを設定します
Comment[ko]=데스크탑의 모양새를 설정합니다
Comment[lt]=Keisti darbo aplinkos išvaizdą
Comment[ml]=പണിയിടത്തെ ചിട്ടപ്പെടുത്തുക
Comment[nb]=Tilpass utseende for skrivebordet
Comment[nl]=De achtergrond van het bureaublad instellen
Comment[pl]=Dostosuj wygląd pulpitu
Comment[pt]=Personalizar a aparência do ambiente de trabalho
Comment[pt_BR]=Personalizar a aparência da área de trabalho
Comment[ru]=Настройте тему рабочего стола
Comment[sr]=Прилагодите изглед радне површи
Comment[sv]=Anpassa utseendet för skrivbordet
Comment[uk]=Налаштувати вигляд робочого столу
Comment[vi]=Tùy chỉnh màn hình nền
Comment[zh_CN]=自定义桌面外观
Comment[zh_TW]=自訂桌面外觀
Exec=lxappearance
Icon=gtk-preferences
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;DesktopSettings;X-LXDE-Settings;Gtk;
NotShowIn=GNOME;XFCE;

